<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Arvo|Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Roboto:ital,wght@1,100&&family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	
</head>
<body>

	<div class="navbar">
		<a id="logo" href="/">LEX i.e.</a>
		<nav>
			<ul>
	    		<li><a href="/posts">Posts</a></li>
			</ul>
		</nav>
	</div>

	<div class="container">
		{{ content }}
	</div>


</body>
</html>